<template>
  <div>
    <h1>Posts</h1>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Post</router-link>
      </div>
    </div>
    <br />

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id">
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
          <td>
            <router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: []
    };
  },
  created() {
    this.IndexData();
  },
  methods: {
    deletePost(id) {
      let uri = `http://localhost:3000/posts/${id}`;
      this.axios.delete(uri).then(response => {
          this.posts.splice(this.posts.findIndex(x => x.id==id), 1);
         //this.IndexData();
      });
    },
    IndexData() {
      let uri = "http://localhost:3000/posts";
      this.axios.get(uri).then(response => {
        this.posts = response.data;
      });
    }
  }
};
</script>